.details-container {
  background-color: #ffffffbf;
}

h2 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.8rem;
  letter-spacing: 3px;
  color: #303030;
}

.each-detail p {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 6.777rem;
  color: #303030;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 7.4rem 43rem 7.4rem 16rem;
}

.details > div {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.timeZone-day {
  border-right: 1px solid #999999;
  flex-grow: 0.5;
}

body.dark .each-detail > p,
body.dark .each-detail > h2 {
  color: white;
}

body.dark .details-container {
  background-color: #000000bf;
}
