.quote,
.author {
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: white;
}

.quote-container {
  width: 35%;
  margin-left: 16rem;
}

.quote {
  font-weight: 400;
}

.author {
  font-weight: 700;
}

.quote-container > div {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
}

.refresh-icon {
  margin-top: 0.7rem;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
