@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url(../public/assets/desktop/bg-image-daytime.jpg);
}

body.dark {
  background-image: url(../public/assets/desktop/bg-image-nighttime.jpg);
}

body {
  font-family: "Inter", serif;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5.6rem 16.5rem 9.8rem;
}
